<a href="https://colab.research.google.com/github/rumman153/python/blob/master/A1_CT_2_18101018.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Write a program to check Leap year.						

Following is pseudo code:
if year is divisible by 400 then is_leap_year
else if year is divisible by 100 then not_leap_year
else if year is divisible by 4 then is_leap_year
else not_leap_year

In [ ]:
x = int(input())

if (x%400)==0:
  print(x,"is a leap year")
elif (x%100)==0:
  print(x,"is not leap year")
elif (x%4)==0:
  print(x,"is a leap year")
else:
  print(x,"is not leap year")

2019
2019 is not leap year

2. Given a string of length 12, divide the string into 4 parts of length 3. Then swap the first part with the last part. Output the final string.

In [ ]:
s = "ABCDEFGHIJKL"

s1=s[0:3]
s2=s[3:6]
s3=s[6:9]
s4=s[9:12]

s = s4+s2+s3+s1

'JKLDEFGHIABC'

3.Suppose you are going to start a Django Project with a group of 5 members. Now, you need to store the information (Name, ID, CGPA, Email_Address, and Contact_no) about the group members in some variables. Choose the appropriate data type where one can search a member effectively.

In [ ]:
group = {
    18101018 : {
        "Name" : "Rumman",
        "ID" : 18101018,
        "CGPA" : 3.88,
        "Email_Adress" : "rumman153@gmail.com",
        "Contact_no" : "01521429847"
    },

   18101017 : {
        "Name" : "Adnan",
        "ID" : 18101017,
        "CGPA" : 3.81,
        "Email_Adress" : "adnan@gmail.com",
        "Contact_no" : "01821429857"
    },

    18101025 : {
        "Name" : "Tanvir",
        "ID" : 18101025,
        "CGPA" : 3.89,
        "Email_Adress" : "tanvir@gmail.com",
        "Contact_no" : "01721429868"
    },

   18101014 : {
        "Name" : "Ifty",
        "ID" : 18101014,
        "CGPA" : 3.85,
        "Email_Adress" : "Ifty@gmail.com",
        "Contact_no" : "01921429857"
    },

    18101012 : {
        "Name" : "Modak",
        "ID" : 18101012,
        "CGPA" : 3.80,
        "Email_Adress" : "modak@gmail.com",
        "Contact_no" : "01621429857",
    }
}

group[18101018]

{'CGPA': 3.88,
 'Contact_no': '01521429847',
 'Email_Adress': 'rumman153@gmail.com',
 'ID': 18101018,
 'Name': 'Rumman'}

4.Choose variables of appropriate data type to store the information of the following table in a way that if someone inputs the EmployeeID, it will show all the information of that Employee.

In [ ]:
Employee = {
    1001 : {
        "Ename" : "John",
        "DeptID" : 2,
        "Salary" : 4000,
        "Dname" : "IT",
        "Dlocation" : "New Delhi"
    },

    1002 : {
        "Ename" : "Anna",
        "DeptID" : 1,
        "Salary" : 3500,
        "Dname" : "HR",
        "Dlocation" : "Mumbai"
    },

    1003 : {
        "Ename" : "James",
        "DeptID" : 1,
        "Salary" : 2500,
        "Dname" : "HR",
        "Dlocation" : "Mumbai"
    },

    1004 : {
        "Ename" : "David",
        "DeptID" : 2,
        "Salary" : 5000,
        "Dname" : "IT",
        "Dlocation" : "New Delhi"
    }
}

Employee[1002]

{'DeptID': 1,
 'Dlocation': 'Mumbai',
 'Dname': 'HR',
 'Ename': 'Anna',
 'Salary': 3500}

In [ ]:
print("Ename:", Employee[1002]["Ename"], end=", ")
print("DeptID:", Employee[1002]["DeptID"], end=", ")
print("Dlocation:", Employee[1002]["Dlocation"], end="")

Ename: Anna, DeptID: 1, Dlocation: Mumbai