<a href="https://colab.research.google.com/github/rumman153/python/blob/master/Class_05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**LOOP**

# print: 0-9
Java code

for (int i=0; i<10; i++) {
  system.out.println(i)
}

int i=0;

```


while (i<10)
{
  system.out.println(i);
  i++;
}

In [1]:
i=0
while (i<10) :
  print(i)
  i = i + 1

0
1
2
3
4
5
6
7
8
9

1+2+....+10=?

In [6]:
i = 0
sum = 0
while (i<11) :
  if(i==10):
    print(i,end=' ')
  else:
    print(i,"+", end=' ')
  sum = sum + i
  i +=1
print("=",sum)

0 + 1 + 2 + 3 + 4 + 5 + 6 + 7 + 8 + 9 + 10 = 55

input:
start: 10
end: 20
output:
10 + 11 + ..... + 2 = ?

In [ ]:
start = int(input("Start: "))
end_p = int(input("End: "))

sum = 0
i=start

while i<end_p+1 :
  if(i == end_p):
    print(i, end=' ')
  else:
    print(i, "+" , end=' ')
  sum = sum + i
  i += 1
print("=", sum)

input: 
start: 20
finish: 40
output:
20 +22 +24 + ...... + 40 =?

In [10]:
start = int(input("Start: "))
end_p = int(input("End: "))

sum = 0
i=start

while i<end_p+1 :
  if(i == end_p):
    print(i, end=' ')
  else:
    print(i, "+" , end=' ')
  sum = sum + i
  i += 2
print("=", sum)

Start: 20
End: 40
20 + 22 + 24 + 26 + 28 + 30 + 32 + 34 + 36 + 38 + 40 = 330

In [12]:
start = int(input("Start: "))
end_p = int(input("End: "))
if (start%2)==1 :
  start= start+1

sum = 0
i=start

while i<end_p+1 :
  if(i == end_p):
    print(i, end=' ')
  else:
    print(i, "+" , end=' ')
  sum = sum + i
  i += 2
print("=", sum)

Start: 20
End: 40
20 + 22 + 24 + 26 + 28 + 30 + 32 + 34 + 36 + 38 + 40 = 330

**Range**

for (int i=0; i<10; i++)

   { system.out.println(i) }

In [14]:
l = list( range(0,10,1))
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [16]:
l = list ( range(10))
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

for

In [18]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [27]:
l = [10,2,"A","B",1010]

for i in l:
  print(i)

10
2
A
B
1010

In [20]:
l = [10,2,"A","B",1010]

for i in range(1,4):
  print(l[i])

2
A
B

In [28]:
l = l + [6]
l

[10, 2, 'A', 'B', 1010, 6]